* {
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: auto;
  scroll-behavior: smooth;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    66deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(226, 254, 255, 1) 0%,
    rgba(235, 235, 255, 1) 48%,
    rgba(226, 254, 240, 1) 100%
  );
}
th,
td,
table {
  /* border: 2px solid rgb(0, 0, 0); */
  padding: 25px;
  text-align: center;
}
table {
  width: 100%;
  /* margin-top: 25px;
  margin-bottom: 25px; */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}
th {
  background-color: #474747;
  color: white;
}
td {
  background-color: white;
}
#data-table {
  border-collapse: collapse;
  border-color: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  table {
    width: 100%;
  }
  thead {
    display: none;
  }
  tr:nth-of-type(2n) {
    background-color: inherit;
  }
  tr td:first-child {
    background: #474747;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
  }
  tbody td {
    display: block;
    text-align: center;
  }
  tbody td:before {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
}
